.main {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #934471;
  padding: 40px;
}

.mainHeader {
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 700px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #235789;
  background-color: #f3eaf4;
  padding: 15px;
  margin: 20px auto;
}
